* {
  box-sizing: border-box;
  font-family: 'Varta', 'Roboto', sans-serif;
}

:root {
  --primary: #3498db;
  --secondary: #ff2d9a;
  --black: #333333;
  --blackLighter: #555555;
  --grayLight: #eeeeee;
  --grayMedium: #dddddd; 
  --white: #FeFeFe;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.game {
  /* width: 800px; */
  /* height: auto; */
  overflow: hidden;
}