* {
  box-sizing: border-box;
  font-family: 'Varta', 'Roboto', sans-serif;
}

:root {
  --primary: #3498db;
  --secondary: #ff2d9a;
  --black: #333333;
  --blackLighter: #555555;
  --grayLight: #eeeeee;
  --grayMedium: #dddddd; 
  --white: #FeFeFe;
  --myFavoritePiecesOfMusic: #ff2d9a;
  --myFavoriteTVSeries: #3498db;
  --myFavoriteVideoGames: #FF1E56;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

a {
  color: inherit;
}